In [18]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [5]:
df=pd.read_csv('c:/dataset/regression/salary_2_variable.csv')

In [8]:
df=pd.get_dummies(df)
df

   Exp  Salary  Gender_Female  Gender_Male
0  1.1   41000              0            1
1  1.3   36205              1            0
2  1.5   37731              1            0
3  2.0   43525              0            1
4  2.2   39891              1            0
5  2.9   56642              0            1
6  3.0   60150              0            1
7  3.2   56240              1            0
8  3.3   59150              0            1
9  3.8   61000              0            1

In [47]:
X=df.iloc[:,[0,2,3]].values
y=df.iloc[:,1].values

In [13]:
lr=LinearRegression()
lr.fit(X,y)
print(lr.coef_)
print(lr.intercept_)

[ 9198.68742515 -2617.62398204  2617.62398204]
26277.064760479036

How to find coef and intercept:
    --

In [53]:
from sklearn.preprocessing import scale
X=scale(X,with_std=False)
Xdash=X.T

In [54]:
XdashX=np.dot(Xdash,X)

In [55]:
from numpy.linalg import inv,pinv

In [56]:
XdashXI=pinv(XdashX)

In [57]:
XdashXIXd=np.dot(XdashXI,Xdash)

In [58]:
c=np.dot(XdashXIXd,y)

In [59]:
lr.coef_

array([ 9198.68742515, -2617.62398204,  2617.62398204])

In [63]:
#we need to use actual X not centered scale X
X=df.iloc[:,[0,2,3]].values
b=np.mean(y)-(c[0]*np.mean(X[:,0]))-(c[1]*np.mean(X[:,1]))-(c[2]*np.mean(X[:,2]))

In [64]:
b

26277.06476047913

In [65]:
lr.intercept_

26277.064760479036

In [ ]:
df=pd.read_csv('c:/dataset/regression/california_house_price.csv')
df=pd.read_csv('c:/dataset/regression/boston_price.csv')