In [79]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [80]:
df=pd.read_csv('C:/Users/virender/Downloads/Python,ML,AI/dataset/dataset/regression/california_house_price.csv')

In [81]:
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05
...,...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103,1.060194e+06
4996,78491.27543,6.999135,6.576763,4.02,25616.11549,1.482618e+06
4997,63390.68689,7.250591,4.805081,2.13,33266.14549,1.030730e+06
4998,68001.33124,5.534388,7.130144,5.44,42625.62016,1.198657e+06
4999,65510.58180,5.992305,6.792336,4.07,46501.28380,1.298950e+06

In [87]:
X=df.iloc[:,0:5].values
y=df.iloc[:,-1].values

In [88]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=10)

In [89]:
lr=LinearRegression()
lr.fit(X_train,y_train)
pred_train=lr.predict(X_train)
pred_test=lr.predict(X_test)
print('Trainscore:',r2_score(y_train,pred_train))
print('Testscore:',r2_score(y_test,pred_test))

Trainscore: 0.9180902378305174
Testscore: 0.9175905242475512

In [90]:
lr.coef_

array([2.15913522e+01, 1.65126417e+05, 1.20199088e+05, 4.74973105e+02,
       1.53378187e+01])

In [91]:
lr.intercept_

-2631944.716011728

# Manual Calculation

In [92]:
from sklearn.preprocessing import scale
X=scale(X_train,with_std=False)
Xdash=X.T

In [93]:
XdashX=np.dot(Xdash,X)

In [94]:
from numpy.linalg import inv,pinv

In [95]:
XdashXI=pinv(XdashX)

In [96]:
XdashXIXd=np.dot(XdashXI,Xdash)

In [97]:
c=np.dot(XdashXIXd,y_train)

In [98]:
c

array([2.15913522e+01, 1.65126417e+05, 1.20199088e+05, 4.74973105e+02,
       1.53378187e+01])

In [99]:
b=np.mean(y_train)-(c[0]*np.mean(X_train[:,0]))-(c[1]*np.mean(X_train[:,1]))-(c[2]*np.mean(X_train[:,2]))-(c[3]*np.mean(X_train[:,3]))-(c[4]*np.mean(X_train[:,4]))

In [100]:
b

-2631944.71600612