In [27]:
review1='food is go_od and tasty'
review2='awe@some food qual#ity and food was go^od lookwise '
review3='service was not good and lack of space'
review4='Food is not Good food good food'

reviews=[review1,review2,review3,review4]
target=['pos','pos','neg','neg']

In [21]:
import string
import re
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
ps=PorterStemmer()
def clean_text(text):
    new_text=re.sub(f'[{string.punctuation}]','',text)
    words=word_tokenize(new_text)
    new_words=[]
    sw=stopwords.words('english')
    sw.remove('not')
    for w in words:
        if(w not in sw):
            nw=ps.stem(w)
            new_words.append(nw)
    return " ".join(new_words)

In [22]:
new_reviews=list(map(clean_text,reviews))

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(new_reviews).toarray()
print(cv.get_feature_names())
print(X)

['awesom', 'food', 'good', 'lack', 'lookwis', 'not', 'qualiti', 'servic', 'space', 'tasti']
[[0 1 1 0 0 0 0 0 0 1]
 [1 2 1 0 1 0 1 0 0 0]
 [0 0 1 1 0 1 0 1 1 0]
 [0 3 2 0 0 1 0 0 0 0]]

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(binary=True)
X=cv.fit_transform(new_reviews).toarray()
print(cv.get_feature_names())
print(X)

['awesom', 'food', 'good', 'lack', 'lookwis', 'not', 'qualiti', 'servic', 'space', 'tasti']
[[0 1 1 0 0 0 0 0 0 1]
 [1 1 1 0 1 0 1 0 0 0]
 [0 0 1 1 0 1 0 1 1 0]
 [0 1 1 0 0 1 0 0 0 0]]

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(stop_words='english')
X=cv.fit_transform(reviews).toarray()
print(cv.get_feature_names())
print(X)

['awe', 'food', 'go_od', 'good', 'ity', 'lack', 'lookwise', 'od', 'qual', 'service', 'space', 'tasty']
[[0 1 1 0 0 0 0 0 0 0 0 1]
 [1 2 0 0 1 0 1 1 1 0 0 0]
 [0 0 0 1 0 1 0 0 0 1 1 0]
 [0 3 0 2 0 0 0 0 0 0 0 0]]

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
sw=stopwords.words('english')
sw.remove('not')
cv=CountVectorizer(stop_words=sw,token_pattern='[a-z]+')
X=cv.fit_transform(reviews).toarray()
print(cv.get_feature_names())
print(X)

['awe', 'food', 'go', 'good', 'ity', 'lack', 'lookwise', 'not', 'od', 'qual', 'service', 'space', 'tasty']
[[0 1 1 0 0 0 0 0 1 0 0 0 1]
 [1 2 1 0 1 0 1 0 1 1 0 0 0]
 [0 0 0 1 0 1 0 1 0 0 1 1 0]
 [0 3 0 2 0 0 0 1 0 0 0 0 0]]

In [39]:
from nltk.corpus import stopwords
nltk_sw=stopwords.words('english')
print(len(nltk_sw))

179

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
sklearn_sw=list(ENGLISH_STOP_WORDS)
print(len(sklearn_sw))
sklearn_sw.remove('not')
cv=CountVectorizer(stop_words=sklearn_sw)
X=cv.fit_transform(reviews).toarray()
print(cv.get_feature_names())
print(X)

318
['awe', 'food', 'go_od', 'good', 'ity', 'lack', 'lookwise', 'not', 'od', 'qual', 'service', 'space', 'tasty']
[[0 1 1 0 0 0 0 0 0 0 0 0 1]
 [1 2 0 0 1 0 1 0 1 1 0 0 0]
 [0 0 0 1 0 1 0 1 0 0 1 1 0]
 [0 3 0 2 0 0 0 1 0 0 0 0 0]]

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv=TfidfVectorizer()
X=tv.fit_transform(new_reviews).toarray()
print(tv.get_feature_names(),"\n\n")
print(X)

['awesom', 'food', 'good', 'lack', 'lookwis', 'not', 'qualiti', 'servic', 'space', 'tasti']


[[0.         0.49248889 0.40264194 0.         0.         0.
  0.         0.         0.         0.77157901]
 [0.45166363 0.57658209 0.23569682 0.         0.45166363 0.
  0.45166363 0.         0.         0.        ]
 [0.         0.         0.26445122 0.50676543 0.         0.39953968
  0.         0.50676543 0.50676543 0.        ]
 [0.         0.82574253 0.45006575 0.         0.         0.33998543
  0.         0.         0.         0.        ]]

In [48]:
new_reviews

['food good tasti',
 'awesom food qualiti food good lookwis',
 'servic not good lack space',
 'food not good food good food']

In [59]:
import pandas as pd

In [61]:
df=pd.read_csv('c:/dataset/sentiment/Restaurant_Reviews.txt',delimiter='\t')
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [63]:
df['Review']=df.Review.map(clean_text)

In [64]:
df

                                                Review  Liked
0                                       wow love place      1
1                                       crust not good      0
2                               not tasti textur nasti      0
3    stop late may bank holiday rick steve recommen...      1
4                          the select menu great price      1
..                                                 ...    ...
995                    I think food flavor textur lack      0
996                             appetit instantli gone      0
997             overal I not impress would not go back      0
998  the whole experi underwhelm I think well go ni...      0
999  then I hadnt wast enough life pour salt wound ...      0

[1000 rows x 2 columns]

In [68]:
cv=CountVectorizer()
X=cv.fit_transform(df.Review).toarray()
y=df.Liked

In [67]:
X.shape

(1000, 1686)

In [75]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [85]:
%%time
cross_val_score(KNeighborsClassifier(),X,y,cv=10).mean()

Wall time: 8.25 s

0.7080000000000001

In [80]:
%%time
cross_val_score(LogisticRegression(solver='lbfgs'),X,y,cv=10).mean()

Wall time: 2.66 s

0.8140000000000001

In [81]:
%%time
cross_val_score(SVC(kernel="rbf",C=1,gamma=.1),X,y,cv=10).mean()

Wall time: 40 s

0.818

In [86]:
cv=CountVectorizer()
X=cv.fit_transform(df.Review).toarray()
y=df.Liked
from sklearn.naive_bayes import GaussianNB
cross_val_score(GaussianNB(),X,y,cv=10).mean()

0.689

In [87]:
cv=CountVectorizer(binary=True)
X=cv.fit_transform(df.Review).toarray()
y=df.Liked
from sklearn.naive_bayes import BernoulliNB
cross_val_score(BernoulliNB(),X,y,cv=10).mean()

0.7849999999999999

In [88]:
tv=TfidfVectorizer()
X=tv.fit_transform(df.Review).toarray()
y=df.Liked

0.8

In [89]:
%%time
from sklearn.naive_bayes import MultinomialNB
cross_val_score(MultinomialNB(),X,y,cv=10).mean()

Wall time: 550 ms

0.8

In [90]:
mnb=MultinomialNB()
mnb.fit(X,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [91]:
test_sample=input('enter review:')
X_test=tv.transform([clean_text(test_sample)]).toarray()

enter review: food was awesome

In [92]:
mnb.predict_proba(X_test)

array([[0.14449696, 0.85550304]])

In [93]:
mnb.predict(X_test)

array([1], dtype=int64)