In [1]:
import nltk
from nltk import sent_tokenize, word_tokenize, FreqDist
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
sentance = "Virat kohli is a great batsman in the indian cricket histroy."

In [3]:
stoken = sent_tokenize(sentance)
stoken

['Virat kohli is a great batsman in the indian cricket histroy.']

In [4]:
wtoken = word_tokenize(sentance)
wtoken

['Virat',
 'kohli',
 'is',
 'a',
 'great',
 'batsman',
 'in',
 'the',
 'indian',
 'cricket',
 'histroy',
 '.']

In [5]:
nltk.pos_tag(wtoken)

[('Virat', 'NNP'),
 ('kohli', 'NN'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('great', 'JJ'),
 ('batsman', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('indian', 'JJ'),
 ('cricket', 'NN'),
 ('histroy', 'NN'),
 ('.', '.')]

In [6]:
nltk.pos_tag_sents(sentance)

[[('V', 'NN')],
 [('i', 'NN')],
 [('r', 'NN')],
 [('a', 'DT')],
 [('t', 'NN')],
 [(' ', 'NN')],
 [('k', 'NN')],
 [('o', 'NN')],
 [('h', 'NN')],
 [('l', 'NN')],
 [('i', 'NN')],
 [(' ', 'NN')],
 [('i', 'NN')],
 [('s', 'NN')],
 [(' ', 'NN')],
 [('a', 'DT')],
 [(' ', 'NN')],
 [('g', 'NN')],
 [('r', 'NN')],
 [('e', 'NN')],
 [('a', 'DT')],
 [('t', 'NN')],
 [(' ', 'NN')],
 [('b', 'NN')],
 [('a', 'DT')],
 [('t', 'NN')],
 [('s', 'NN')],
 [('m', 'NN')],
 [('a', 'DT')],
 [('n', 'NN')],
 [(' ', 'NN')],
 [('i', 'NN')],
 [('n', 'NN')],
 [(' ', 'NN')],
 [('t', 'NN')],
 [('h', 'NN')],
 [('e', 'NN')],
 [(' ', 'NN')],
 [('i', 'NN')],
 [('n', 'NN')],
 [('d', 'NN')],
 [('i', 'NN')],
 [('a', 'DT')],
 [('n', 'NN')],
 [(' ', 'NN')],
 [('c', 'NNS')],
 [('r', 'NN')],
 [('i', 'NN')],
 [('c', 'NNS')],
 [('k', 'NN')],
 [('e', 'NN')],
 [('t', 'NN')],
 [(' ', 'NN')],
 [('h', 'NN')],
 [('i', 'NN')],
 [('s', 'NN')],
 [('t', 'NN')],
 [('r', 'NN')],
 [('o', 'NN')],
 [('y', 'NN')],
 [('.', '.')]]

In [7]:
rest = pd.read_csv("../../dataset/sentiment/Restaurant_Reviews.txt", sep="\t")
rest.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [9]:
twitter = pd.read_csv("../../dataset/sentiment/twitter.csv", encoding = "ISO-8859-1")
twitter.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [11]:
twitter.shape

(99989, 3)