In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.DataFrame({'dim':[3.5, 2.1,3.2,4.0,1.6], 'weight':[70, 29,80, 75, 35], 'fruit':['Apple', 'Banana', 'Apple', 'Apple', 'Banana']})
df

   dim  weight   fruit
0  3.5      70   Apple
1  2.1      29  Banana
2  3.2      80   Apple
3  4.0      75   Apple
4  1.6      35  Banana

In [4]:
feature_vector=df.iloc[:, 0:2]
feature_vector

   dim  weight
0  3.5      70
1  2.1      29
2  3.2      80
3  4.0      75
4  1.6      35

In [5]:
X = feature_vector

In [6]:
response_vector = df.iloc[:, 2:]
response_vector

    fruit
0   Apple
1  Banana
2   Apple
3   Apple
4  Banana

In [7]:
y = response_vector

SKLEARN(2011 by Google)
-------
>pip install scikit-learn

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
knc = KNeighborsClassifier()
knc.fit(X, y)# traing model or rule generation or model building

/home/chandan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [10]:
new_sample = [2.5, 45]
knc.predict([new_sample, [1.5, 25], [1.5, 20], [.5, 5]])

array(['Apple', 'Apple', 'Apple', 'Apple'], dtype=object)

In [11]:
df = pd.read_csv("../dataset/classification/fruits.csv")
df.shape

(22, 3)

In [12]:
df.head()

   diameter  weight FruitName
0       3.0      30    Banana
1       6.0     100     Apple
2       6.1      95     Apple
3       3.2      35    Banana
4       5.5      80     Apple

In [20]:
X = df.iloc[:,0:2].values
y =df.iloc[:, -1].values

>feature vector  must be numerical.

In [21]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
knc = KNeighborsClassifier()
knc.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [31]:
knc.predict(X)

array(['Banana', 'Apple', 'Apple', 'Banana', 'Apple', 'Apple', 'Banana',
       'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple', 'Apple',
       'Banana', 'Banana', 'Apple', 'Apple', 'Banana', 'Banana', 'Apple',
       'Apple'], dtype=object)

In [30]:
from sklearn.metrics import accuracy_score

In [34]:
accuracy_score(knc.predict(X), y)

0.8636363636363636

In [35]:
accuracy_score(knc.predict(X), y) * 100

86.36363636363636

In [42]:
X1 = X[0:15, :]
X2 = X[15:, :]
y1 = y[0:15]
y2 = y[15:]

In [45]:
knc1 = KNeighborsClassifier()
knc1.fit(X1, y1)
p1 = knc1.predict(X1)
p2 = knc1.predict(X2)

In [47]:
accuracy_score(y1, p1)

0.7333333333333333

In [48]:
accuracy_score(y2, p2)

1.0

X1 = Traning input(seen data)

x2 = Testing data(unseen data)

Factors:
--------
    1. Nuber of sample
    2. Number of features
    3. quality of training data
    4 etc

In [51]:
df['FruitName'].value_counts()

Apple     12
Banana    10
Name: FruitName, dtype: int64

Overfitting:
-----------
> low bias and high variance

    1. Low bias -> good accuracy of tranning data
    2.high bias -> poor accuracy of tranning data
    3. high variace -> huge differace and testing accuraccy(train-test)
    4. low variace -> less diff b/w tranning and testing accuraccy
    
Underfitting:
------------
    high bias

Just right:
---------
    low bias and low variance